.chat {
  display: flex;
  flex: 1;
  flex-flow: column;
  height: 100%;
  min-height: 100vh;
}

.full-screen {
  display: flex;
}

@media (max-width: 560px) {
  .chat {
    display: none;
  }
  .full-screen {
    display: flex;
  }
}
