

.message-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .3rem;
    position: sticky;
    background-color: rgba(255,255,255, .9);
    z-index: 1000;
    border-top: solid .1rem rgb(238, 238, 238);
}

.send-message-icon {
    width: 100%;
}

.send-button {
    width: 2.5rem;
    background-color: rgb(241, 75, 186);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease .1s;
    margin-right: 1rem;
}

.send-button:hover {
    background-color: rgb(187, 26, 133);
}


.input-message {
    width: 80%;
    padding: .5rem;
    margin-left: 1rem;
    border: none;
    border-radius: 1rem;
}

.input-message:focus {
    width: 80%;
    outline: none;
    padding: .5rem;
    border: none;
    border-radius: 1rem;
}

textarea {
    resize: none;
}