.form-view {
    height: 100vh;
    width: 100vw;
    background-image: url("../../../assets//login-back.png");
    background-size: cover;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}