
.password-panel {
    display: flex;
    flex-basis: 37%;
    flex-flow: column;
    height: 100vh;
}

.password-form {
    padding: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.password-input {
    padding: .5rem;
    margin: .5rem;
    border-radius: .3rem;
    border: solid .1rem rgb(235, 89, 145);
}

.password-input:focus {
    outline: none;
}

.submit-btn {
    padding: .4rem;
    margin-left: .5rem;
    border: solid .1rem rgba(134, 10, 87, 0.1);
    background-color: rgb(235, 89, 145);
    font-weight: bold;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    transition: all ease .1s;
}

.submit-btn:hover {
    background-color: rgb(197, 58, 111);
}