
.message {
    margin: .5rem;
    display: flex;
    flex-flow: column;
    border: solid rgb(224, 224, 224) .1rem;
    width: 55%;
    border-radius: 1rem;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.text-message {
    margin: 0.1rem;
    margin-left: .7rem;
    margin-right: .4rem;
    padding: .1rem;
}

.to-the-right{
    align-self: self-end;
}

.sent-message {
    background-color: rgba(255,255,255,.7);
    justify-self: right;
}

.recieved-message {
    background-color: rgba(238, 76, 157, 0.5);
    justify-self: left;
}

.flex-container {
    display: flex;
}

.margin-rem {
    margin-right: .5rem;
    margin-bottom: .5rem;
}