
.message {
    margin: .5rem;
    display: flex;
    flex-flow: column;
    border: solid rgb(224, 224, 224) .1rem;
    width: 70%;
    border-radius: 1rem;
    background-color: rgba(255,255,255,.7);
}

.text-message {
    margin: 0.1rem;
    margin-left: .4rem;
    margin-right: .4rem;
}

.to-the-right{
    align-self: self-end;
}